@font-face{
    font-family:"Avenir Next W01 Light";
    src:url("../fonts/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix");
    src:url("../fonts/0ecef829-586e-426d-a633-4c8a8c926769.eot?#iefix") format("eot"),url("../fonts/49c5f3e1-5867-4b1d-a843-2d07fa60d85d.woff2") format("woff2"),url("../fonts/f401df6f-54eb-406c-b46a-90b9451c598d.woff") format("woff"),url("../fonts/276fe25e-e430-4376-b33c-705dd77b3dba.ttf") format("truetype"),url("../fonts/869dc33b-3685-4d74-a51c-82b435579093.svg#869dc33b-3685-4d74-a51c-82b435579093") format("svg");
}
@font-face{
    font-family:"AvenirNextW01-LightItal";
    src:url("../fonts/440b64c9-a97b-4a0c-a6af-a6bb6d49c252.eot?#iefix");
    src:url("../fonts/440b64c9-a97b-4a0c-a6af-a6bb6d49c252.eot?#iefix") format("eot"),url("../fonts/62e28d52-436d-40b8-a5f0-00479f3f44ed.woff2") format("woff2"),url("../fonts/5b8c6fdc-0ba4-4b65-87e4-d5ae51245ea5.woff") format("woff"),url("../fonts/c677d79d-442e-4c76-8db1-c29ac7788039.ttf") format("truetype"),url("../fonts/216291a0-f927-4f75-9de7-6e36c7fd7ebf.svg#216291a0-f927-4f75-9de7-6e36c7fd7ebf") format("svg");
}
@font-face{
    font-family:"AvenirNextLTW01-Regular";
    src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
    src:url("../fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"),url("../fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"),url("../fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"),url("../fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"),url("../fonts/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
}
@font-face{
    font-family:"AvenirNextLTW01-Italic";
    src:url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix");
    src:url("../fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot"),url("../fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"),url("../fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff"),url("../fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf") format("truetype"),url("../fonts/1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg");
}
@font-face{
    font-family:"AvenirNextLTW01-Medium";
    src:url("../fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix");
    src:url("../fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix") format("eot"),url("../fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2") format("woff2"),url("../fonts/f26faddb-86cc-4477-a253-1e1287684336.woff") format("woff"),url("../fonts/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf") format("truetype"),url("../fonts/a89d6ad1-a04f-4a8f-b140-e55478dbea80.svg#a89d6ad1-a04f-4a8f-b140-e55478dbea80") format("svg");
}
@font-face{
    font-family:"AvenirNextLTW01-MediumI_721278";
    src:url("../fonts/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot?#iefix");
    src:url("../fonts/77a9cdce-ea6a-4f94-95df-e6a54555545e.eot?#iefix") format("eot"),url("../fonts/3f380a53-50ea-4a62-95c5-d5d8dba03ab8.woff2") format("woff2"),url("../fonts/8344e877-560d-44d4-82eb-9822766676f9.woff") format("woff"),url("../fonts/b28b01d9-78c5-46c6-a30d-9a62c8f407c5.ttf") format("truetype"),url("../fonts/ed4d3c45-af64-4992-974b-c37cd12a9570.svg#ed4d3c45-af64-4992-974b-c37cd12a9570") format("svg");
}
@font-face{
    font-family:"Avenir Next LT W01 Demi";
    src:url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
    src:url("../fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"),url("../fonts/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"),url("../fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"),url("../fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"),url("../fonts/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
}
@font-face{
    font-family:"AvenirNextLTW01-DemiIta";
    src:url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix");
    src:url("../fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix") format("eot"),url("../fonts/687932cb-145b-4690-a21d-ed1243db9e36.woff2") format("woff2"),url("../fonts/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff") format("woff"),url("../fonts/bc13ae80-cd05-42b4-b2a9-c123259cb166.ttf") format("truetype"),url("../fonts/4862b373-2643-46b1-b0b5-88537c52d15c.svg#4862b373-2643-46b1-b0b5-88537c52d15c") format("svg");
}


h1, h2,  h4, h5, h6, p
{
  font-family: 'Avenir Next W01 Light';
}

h3 {
  font-family: 'AvenirNextLTW01-Regular';
}

i{
  font-family: 'AvenirNextLTW01-Italic';
}

b {
  font-family: 'Avenir Next LT W01 Demi';
}

a {
  font-family: 'Avenir Next LT W01 Demi';
}
